* {
  padding: 0;
  margin: 0;
}

.common-color {
  color: #e76f51;
}
.border {
  border: #e76f51 2px solid !important;
}

.button-modal button {
  background-color: #e76f51;
}
/* ---------------------------------header ----------------------------------*/

header {
  background-color: #264653;
}

/* ---------------------------------header ----------------------------------*/
.icon li {
  list-style: none;
}

/* ---------------------------------emoji ----------------------------------*/
#emoji-section img {
  width: 100%;
  height: 70vh;
}

.fun {
  width: 100%;
  border: none;
  outline: none !important;
}
.fun:hover {
  border: red 2px solid;
  background-color: #759de6;
}
.gif {
  width: 80%;
}
